[defaults]
inventory = inventories/lab/hosts.yml
roles_path = roles
collections_path = .ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
retry_files_enabled = false
host_key_checking = true
stdout_callback = default

[privilege_escalation]
become = true
become_method = sudo
