BORG_REPO='{{ borg_client_repo }}'
BORG_RSH='ssh -i {{ borg_client_ssh_private_key_path }} -o IdentitiesOnly=yes -o UserKnownHostsFile={{ borg_client_known_hosts_path }} -o StrictHostKeyChecking=yes'
BORG_PASSCOMMAND='cat {{ borg_client_passphrase_path }}'
BORG_BASE_DIR={{ borg_client_state_dir }}
BORG_CACHE_DIR={{ borg_client_cache_dir }}
BORG_SECURITY_DIR={{ borg_client_state_dir }}/security
BORG_LOCK_WAIT={{ borg_client_lock_wait_seconds }}
BORG_RELOCATED_REPO_ACCESS_IS_OK=no
